<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Contacts dApp</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
  <style>
    body {
      margin: 30px;
    }
    #status_portion {
      display: none;
    }
    #input_portion {
      display: none;
    }
    #manage_contacts_portion {
      display: none;
    }

  </style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
  </head>

  <body>
    <div class="ui container">
      <div class="ui grid">
        <div class="sixteen wide column">
          <h1 class="ui header">Contacts dApp for INERY Blockchain Demo</h1>
        </div>

        <div id="hints_portion" class="sixteen wide column">
          <div class="ui message">
            <div class="header">
              Manage Contacts Procedure
            </div>
            <ol class="ui ordered list">
              <li>Input your Inery username and click submit</li>
              <li>Add, update or delete your contact</li>
              <li>Refresh the webpage if you want to enter another username</li>
            </ol>
          </div>
        </div>

        <div id="status_portion" class="sixteen wide column">
          <div class="ui negative message">
            <div class="header">
              I'm sorry. The server has error and the program stopped
            </div>
            <p>
              It maybe nodine has error or not running!
            </p>
          </div>
        </div>

        <div id="input_portion" class="sixteen wide column">
          <form class="ui form">
            <div class="field">
              <label>Input your Inery username</label>
              <input type="text" name="name" placeholder="Inery username" />
            </div>
            <button id="btn_inputname_submit" class="ui primary basic button">Submit</button>
            <div class="ui error message"></div>
          </form> 
        </div> <!-- input_portion -->

        <div id="manage_contacts_portion" class="sixteen wide column">
          <div class="html ui top attached segment">
            <form class="ui form">
              <h4 class="ui dividing header">Contact List</h4>
              <div class="field">
                <div id="contactsList_cb">
                  <div class="mylist">
                    <table id="contactsList">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Family</th>
                              <th>Phone</th>
                              <th>Email</th>
                              <th>Actions</th> 
                          </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>                    
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="sixteen wide column transition visible">
            <div id="add_new_contact" data-action="add" class="ui teal labeled icon button" style="padding: 10px;margin-top:20px;padding: 1rm;">
                Add New Contact
                <i class="add icon"></i>
            </div>
          </div>
          
        </div> <!-- manage_contacts_portion -->


        <div id="add_update_modal" class="ui modal"> <i class="close icon"></i>
          <!-- Will be rendered by add_update_modal_form template -->
        </div> <!-- update contact -->

      </div>
    </div>

    <div id="alert_dialog" class="ui modal">
      <i class="close icon"></i>
      <div id="title" class="header">
      </div>
      <div class="content">
        <div id="msg" class="description"></div>
      </div>
      <div class="actions">
        <div id="btn_ok" class="ui approve button">OK</div>
      </div>
    </div>


    <script id="add_update_modal_form" type="text/template">
      <div class="header"><%= cmode %> Contact</div>
      <div class="content">
        <form class="ui form">        
          <div class="ui equal width form">
            <div class="fields">
              <div class="field">
                <label>First Name</label>
                <input type="text" name="firstname" value="<%= cname %>" placeholder="First Name">
              </div>
              <div class="field">
                <label>Family</label>
                <input type="text" name="family" value="<%= family %>" placeholder="Family">
              </div>
              <div class="field">
                <label>Phone Number</label>
                <input type="text" name="phone" value="<%= cphone %>" placeholder="Phone Number">
              </div>
              <div class="field">
                <label>Email</label>
                <input type="text" name="email" value="<%= cemail %>" placeholder="Email">
              </div>
            </div>
          </div>
          <button id="btn_add_updatecontact_submit" class="ui primary basic button">Submit</button>          
        </form>
      </div>
    </script>


  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var app = new App();
      app.start();
    });
  </script>
</html>