astroid==1.6.5
click==6.7
configparser==3.5.0
Flask==1.0.2
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
pylint==1.9.2
six==1.11.0
Werkzeug==0.14.1
wrapt==1.10.11
