/* Font family */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Body styles */
body {
  font-family: 'Poppins', sans-serif;
  color: cyan;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

header h1 {
  font-family: 'Poppins';
  color: white;
  margin-bottom: 50px;
  margin-top: 30px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 20px black;
}

form label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

form select, input, textarea, button {
  width: 100%;
  max-width: 130px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: #202020;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 5px 10px black;
  cursor: pointer;
  transition: all 0.3s ease;
}

form input, textarea {
  max-width: 500px;
}

form textarea {
  height: 200px;
}


/* Result styles */
.success {
  color: #00cc00;
}

.failed { 
  color: #ff0000;
}

#result h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

#result {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}


#result pre {
  width: 100%;
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 10px 20px black;
  overflow-y: scroll;
}


/* Effect styles */
form button:hover,
form select:focus,
form input:focus,
form textarea:focus {
  outline: none;
  background-color: #101010;
  box-shadow: 0 10px 20px black;
}
