@tailwind base;
@tailwind components;
@tailwind utilities;

.container {

    margin: 0 auto;

    background-image: url("ineryxkatana.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}